@page
@model DatabaseExample.Pages.Example.IndexModel
<div class="container p-3">
    <div class="container pt-4">
        <div class="col-6">
            <h2 class="text-primary">Example List</h2>
        </div>
        <div class="col-6">
            
        </div>
    </div>
    
    <br /><br />
    
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Prices
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Example)
            {
            <tr>
                <td width="50%">@obj.Name</td>
                <td width="30%">@obj.Price</td>
            </tr>    
            }
            
        </tbody>
    </table>
    
</div>
